@import '../../styles/mixins.scss';
@import '../../styles/variables';
@import '../../styles/colors';

#sign-up-container {
  transform: translateX(200%);
  position: fixed;
  top: 12px;
  right: 12px;
  bottom: 12px;
  left: 12px;
  z-index: 10000;
  background: $white;
  transition: all 0.5s ease-in-out;

  #close-sign-up { // Change ID selector to use close-sign-up
    position: absolute;
    top: 24px;
    right: 24px;
    color: red;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  #log-in-form-container {
    height: auto;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  p {
    font-size: 1rem;
    margin-top: 10%;
  }

  #create-account-button { // Change ID selector to use create-account-button
    color: $primary-color-opacity;
    font-size: 1rem;

    &:hover {
      color: $primary-color;
    }
  }

  form {
    @include center-column;

    .submit-button {
      @include secondary-button;

      margin-top: 2rem;
    }

    .login-input-container.role {
      border: none;
      margin: 24px;
      width: 100%;

      label {
        width: 100%;

        @include center-column;

        select {
          width: 90%;
          text-align: center;
          height: 24px;
          margin-top: 12px;
          border: 1px solid black;
          background-color: $white;
          border-radius: 50px;
          padding: 0 12px;

          &:hover,
          &:focus {
            border: 1px solid $primary-color;
            cursor: pointer;
            color: $primary-color;
          }
        }
      }
    }

    .login-input-container {
      @include center;

      border: 1px solid $gray;
      border-radius: 5px;
      height: 50px;
      margin: 12px;

      .input-icon {
        font-size: 24px;
        color: $gray;
        height: 100%;
        width: 10%;
      }

      input,
      input:focus,
      input:active,
      input:visited {
        background: transparent;
        outline: none;
        border: none;
        border-radius: 5px;
        margin: 12px;
        height: 100%;
        border-left: 1px solid $gray;
        padding-left: 12px;
      }
    }
  }

  .error-message {
    color: red;
    margin-top: -12px;
    width: 100%;
    text-align: left;
  }

  #log-in-image-container {
    display: none;
  }
}

#sign-up-container.active { 
  transform: translateX(0);
  @include center-column;
}

@media (min-width: 768px) {
  #sign-up-container {
    top: 10%;
    right: 10%;
    bottom: 10%;
    left: 10%;
    flex-direction: row !important;
    #log-in-image-container {
      display: flex;
      width: 50%;
      overflow: hidden;
      height: 100%;

      img {
        object-fit: cover;
      }
    }

    #log-in-form-container {
      width: 50%;
      height: 100%;
      border: 1px solid black;

      .sign-up-text {
        font-size: 1rem;
        margin-top: 10%;
      }

      #log-in-button {
        color: $primary-color-opacity;
        font-size: 1.5rem;

        &:hover {
          color: $primary-color;
        }
      }

      form {
        width: 60%;

        .login-input-container {
          width: 100%;

          input {
            width: 95%;
            font-size: 1rem;
          }

          .input-icon {
            margin-left: 12px;
          }
        }

        button {
          width: 150px;
        }
      }
    }
  }
}
