
.home-slider-container {
  width: 100%;
  max-width: 100%;
  position: absolute;
  z-index: -1;
  filter: brightness(0.4);

  img {
    height: 100vh;
    width: auto;
    object-fit: cover;
    object-position: center;
    transition: all 0.3s ease-in-out;
  }
}

@media (min-width: 768px) {
  .home-slider-container {
    height: 100%;
    transition: transform 10s ease-in-out, filter 0.5s ease-in-out;
    filter: brightness(0.7);

    img {
      min-width: 100vw;
      transition: height 10s ease-in-out;
    }
  }
}
