@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin primary-button {
  border: 2px solid $primary-color;
  font-weight: bold;
  color: $primary-color;
  height: 50px;
  width: 150px;
  padding: 0 20px;
  border-radius: 5px;
  margin: 12px;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}

@mixin secondary-button {
  background-color: $primary-color;
  color: $white;
  height: 50px;
  width: 150px;
  border-radius: 5px;
  margin: 12px;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}